<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002245536688-a5v6dmvcoc0g39pufcsa7cdr8r3e6v03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002245536688-a5v6dmvcoc0g39pufcsa7cdr8r3e6v03</string>
	<key>API_KEY</key>
	<string>AIzaSyAIC_pPOlJjo9lPdoZPVjExQ3B2xK4AoJI</string>
	<key>GCM_SENDER_ID</key>
	<string>1002245536688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roastedgt.alcorec</string>
	<key>PROJECT_ID</key>
	<string>alcorec-b23ab</string>
	<key>STORAGE_BUCKET</key>
	<string>alcorec-b23ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002245536688:ios:74baca57fc6629f3087475</string>
</dict>
</plist>